.wrapper{
  width: 280px;
  height: 50px;
  background-color: #4760F0;
  align-items: center;
  justify-content: center;
 border-radius: 5px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: #ffffff
}
.secondary{
  background-color: inherit;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
}