.chatContainer {
  max-width: 980px;
  max-height: 700px;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid #E1E1E1;
  border-radius: 15px;
  width: 100%;
}

.chatCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow-y: scroll;
  min-height: 500px;
  width: 100%;
}

.chatContent {
  height: 100%;
  overflow-y: auto;
  padding: 16px;
  background-color: white;
}

.message {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.textMessage {
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #e0e0e0;
  max-width: 80%;
}

.audio{
  border: 2px solid #E2E2E2;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
}

.playButton{
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 15px;
}

.descriptor{
  margin-left: 20px;
}

.owner{
  color: #000000;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 5px;
}

.isYourMessage{
  margin-left: auto;
}
