.box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 270px;
  border-radius: 15px;
  border: 2px solid #D9D9D9;
  padding: 20px;
  flex: 1;
  position: relative;
}
.title{
  font-weight: 500;
  font-size: 25px;
  line-height: 34.15px;
}
.comment{
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
}
.comments{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hint{
  position: absolute;
  right: 20px;
  top: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.59px;
}