.inputContainer {
  display: flex;
  gap: 8px;
  padding: 8px;
  background: white;
  width: 400px;
  border: 0.5px solid #E1E1E1;
  border-radius: 10px;
  margin: 0 auto;
}

.input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 21px;
}

.input::placeholder{
  color: #898989;
}

.sendButton,
.micButton,
.iconButton {
  border: none;
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

//.sendButton:hover,
//.micButton:hover,
//.iconButton:hover {
//  background-color: #0056b3;
//}
//.micButton:active {
//  background-color: #0056b3;
//  transform: scale(0.95);
//}

.clip{
  background: none;
  border: none;
  outline: none;
}

.trash{
  border-radius: 0;
  height: 29px;
  width: 1px;
  border-right: 2px solid #ABABAB;
  margin: auto 5px;
}

.shortAudio{
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 10px;
}
